body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:79px;
  top:79px;
  width:1111px;
  height:707px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:707px;
}
#u3 {
  position:absolute;
  left:2px;
  top:346px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:221px;
  top:155px;
  width:611px;
  height:479px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:479px;
}
#u5 {
  position:absolute;
  left:2px;
  top:232px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:521px;
  top:473px;
  width:25px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:527px;
  top:479px;
  width:13px;
  height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:653px;
  top:351px;
  width:25px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:659px;
  top:357px;
  width:13px;
  height:13px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:983px;
  width:1111px;
  height:709px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:709px;
}
#u15 {
  position:absolute;
  left:2px;
  top:346px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:238px;
  top:1003px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F36B3C;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:220px;
  top:1028px;
  width:94px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:3px;
  width:94px;
  height:4px;
}
#u19 {
  position:absolute;
  left:354px;
  top:1005px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:240px;
  top:1088px;
  width:588px;
  height:461px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:461px;
}
#u22 {
  position:absolute;
  left:2px;
  top:222px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:520px;
  top:1380px;
  width:22px;
  height:22px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:526px;
  top:1385px;
  width:12px;
  height:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:627px;
  top:1287px;
  width:22px;
  height:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:632px;
  top:1292px;
  width:12px;
  height:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:625px;
  top:1278px;
  width:27px;
  height:9px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:9px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:594px;
  top:1257px;
  width:96px;
  height:27px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:911px;
  top:1100px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:908px;
  top:1057px;
  width:115px;
  height:19px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:911px;
  top:1154px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:911px;
  top:1204px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:911px;
  top:1126px;
  width:249px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u44 {
  position:absolute;
  left:911px;
  top:1180px;
  width:249px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u45 {
  position:absolute;
  left:911px;
  top:1258px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:911px;
  top:1230px;
  width:249px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u48 {
  position:absolute;
  left:911px;
  top:1284px;
  width:249px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u49 {
  position:absolute;
  left:911px;
  top:1311px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:911px;
  top:1361px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:911px;
  top:1337px;
  width:249px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u54 {
  position:absolute;
  left:911px;
  top:1415px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:911px;
  top:1387px;
  width:249px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u57 {
  position:absolute;
  left:911px;
  top:1441px;
  width:249px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u58 {
  position:absolute;
  left:911px;
  top:1466px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:911px;
  top:1516px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:911px;
  top:1492px;
  width:249px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u63 {
  position:absolute;
  left:911px;
  top:1570px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:911px;
  top:1542px;
  width:249px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u66 {
  position:absolute;
  left:911px;
  top:1596px;
  width:249px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u67 {
  position:absolute;
  left:1131px;
  top:1098px;
  width:22px;
  height:22px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1131px;
  top:1151px;
  width:22px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1131px;
  top:1204px;
  width:22px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1131px;
  top:1257px;
  width:22px;
  height:22px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1131px;
  top:1311px;
  width:22px;
  height:22px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1131px;
  top:1364px;
  width:22px;
  height:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1131px;
  top:1413px;
  width:22px;
  height:22px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u80 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1131px;
  top:1466px;
  width:22px;
  height:22px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u82 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1131px;
  top:1515px;
  width:22px;
  height:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u84 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1131px;
  top:1568px;
  width:22px;
  height:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u86 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:952px;
  top:316px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:950px;
  top:352px;
  width:163px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:35px;
  color:#F4784F;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:952px;
  top:414px;
  width:92px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:952px;
  top:446px;
  width:83px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:236px;
  top:94px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F36B3C;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:218px;
  top:118px;
  width:94px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:3px;
  width:94px;
  height:4px;
}
#u98 {
  position:absolute;
  left:351px;
  top:95px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:944px;
  top:1626px;
  width:81px;
  height:30px;
  color:#BCBCBC;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1035px;
  top:1626px;
  width:79px;
  height:30px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:-6px;
  width:808px;
  height:78px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:78px;
}
#u105 {
  position:absolute;
  left:2px;
  top:31px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1044px;
  top:25px;
  width:66px;
  height:29px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:79px;
  width:80px;
  height:708px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:708px;
}
#u109 {
  position:absolute;
  left:2px;
  top:346px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:-1px;
  top:78px;
  width:80px;
  height:511px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:511px;
}
#u111 {
  position:absolute;
  left:2px;
  top:248px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:79px;
  top:80px;
  width:140px;
  height:706px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:706px;
}
#u113 {
  position:absolute;
  left:2px;
  top:345px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:188px;
  top:104px;
  width:14px;
  height:11px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:93px;
  top:100px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#2BC589;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:93px;
  top:141px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:188px;
  top:147px;
  width:13px;
  height:11px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u121 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1px;
  top:899px;
  width:1190px;
  height:86px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:86px;
}
#u123 {
  position:absolute;
  left:2px;
  top:35px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1px;
  top:900px;
  width:808px;
  height:78px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:78px;
}
#u125 {
  position:absolute;
  left:2px;
  top:31px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1045px;
  top:931px;
  width:66px;
  height:29px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1px;
  top:985px;
  width:80px;
  height:707px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:707px;
}
#u129 {
  position:absolute;
  left:2px;
  top:346px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:983px;
  width:80px;
  height:510px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:510px;
}
#u131 {
  position:absolute;
  left:2px;
  top:247px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:80px;
  top:986px;
  width:140px;
  height:705px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:705px;
}
#u133 {
  position:absolute;
  left:2px;
  top:344px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:189px;
  top:1010px;
  width:14px;
  height:11px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:94px;
  top:1006px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#2BC589;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:94px;
  top:1047px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:189px;
  top:1053px;
  width:13px;
  height:11px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:218px;
  top:120px;
  width:972px;
  height:10px;
}
#u142_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_end {
  position:absolute;
  left:955px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_line {
  position:absolute;
  left:0px;
  top:5px;
  width:972px;
  height:1px;
}
#u143 {
  position:absolute;
  left:219px;
  top:1030px;
  width:972px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:955px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:5px;
  width:972px;
  height:1px;
}
