body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:1140px;
  width:884px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:244px;
  width:878px;
  height:616px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:616px;
}
#u3 {
  position:absolute;
  left:2px;
  top:300px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:201px;
  width:370px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:110px;
  width:880px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:230px;
  top:114px;
  width:330px;
  height:51px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:51px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:18px;
  top:20px;
  width:102px;
  height:44px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-size:36px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:162px;
  top:42px;
  width:230px;
  height:20px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:75px;
  width:1190px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}
#u15 {
  position:absolute;
  left:1120px;
  top:42px;
  width:40px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1082px;
  top:34px;
  width:34px;
  height:35px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:80px;
  width:165px;
  height:840px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:840px;
}
#u20 {
  position:absolute;
  left:2px;
  top:412px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:124px;
  top:124px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:124px;
  top:203px;
  width:22px;
  height:22px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:128px;
  top:290px;
  width:15px;
  height:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:22px;
  top:124px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797971;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:22px;
  top:202px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797979;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:22px;
  top:285px;
  width:113px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:22px;
  top:357px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797971;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:22px;
  top:385px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:22px;
  top:413px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:920px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:920px;
}
#u40 {
  position:absolute;
  left:2px;
  top:452px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:-9px;
  top:1015px;
  width:160px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:160px;
  height:1px;
}
#u42 {
  position:absolute;
  left:110px;
  top:996px;
  width:386px;
  height:48px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:48px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
