body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:37px;
  top:123px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:170px;
  width:318px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u5 {
  position:absolute;
  left:34px;
  top:146px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:168px;
  top:150px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:110px;
  top:582px;
  width:30px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:99px;
  top:622px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:241px;
  top:582px;
  width:30px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:230px;
  top:622px;
  width:53px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:72px;
  top:230px;
  width:244px;
  height:40px;
  color:#BCBCBC;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:99px;
  top:320px;
  width:180px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:600px;
  top:0px;
  width:380px;
  height:800px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u22 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:637px;
  top:123px;
  width:308px;
  height:13px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:634px;
  top:170px;
  width:318px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u26 {
  position:absolute;
  left:634px;
  top:146px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:768px;
  top:150px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:710px;
  top:582px;
  width:30px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:699px;
  top:622px;
  width:53px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:841px;
  top:582px;
  width:30px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:830px;
  top:622px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:672px;
  top:230px;
  width:244px;
  height:40px;
  color:#BCBCBC;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:699px;
  top:320px;
  width:180px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:632px;
  top:115px;
  width:321px;
  height:571px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u43 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:698px;
  top:333px;
  width:202px;
  height:154px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:154px;
}
#u45 {
  position:absolute;
  left:2px;
  top:69px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:736px;
  top:383px;
  width:131px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:748px;
  top:435px;
  width:100px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:409px;
  top:322px;
  width:181px;
  height:38px;
  font-size:16px;
  color:#0099CC;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:400px;
  top:310px;
  width:180px;
  height:0px;
}
#u52_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:194px;
  height:20px;
}
#u53 {
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:390px;
  top:460px;
  width:90px;
  height:30px;
}
#u54_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:104px;
  height:20px;
}
#u54_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:44px;
}
#u55 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:400px;
  top:502px;
  width:181px;
  height:57px;
  font-size:16px;
  color:#0099CC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:57px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
