body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:170px;
  width:318px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u3 {
  position:absolute;
  left:34px;
  top:145px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:168px;
  top:150px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:39px;
  top:123px;
  width:308px;
  height:13px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:32px;
  top:175px;
  width:320px;
  height:135px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:135px;
}
#u10 {
  position:absolute;
  left:2px;
  top:60px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:154px;
  top:194px;
  width:60px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:142px;
  top:257px;
  width:79px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:162px;
  top:278px;
  width:40px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:32px;
  top:309px;
  width:320px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:338px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:41px;
  top:363px;
  width:301px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u22 {
  position:absolute;
  left:314px;
  top:335px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:600px;
  top:0px;
  width:380px;
  height:800px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u25 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:634px;
  top:170px;
  width:318px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u27 {
  position:absolute;
  left:634px;
  top:145px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:768px;
  top:150px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:640px;
  top:123px;
  width:308px;
  height:13px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:656px;
  top:249px;
  width:275px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#999999;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:44px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:656px;
  top:190px;
  width:275px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#999999;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:44px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:686px;
  top:328px;
  width:214px;
  height:37px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:390px;
  top:390px;
  width:190px;
  height:0px;
}
#u39_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u39_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:204px;
  height:20px;
}
#u40 {
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:419px;
  top:407px;
  width:181px;
  height:19px;
  font-size:16px;
  color:#0099CC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:75px;
  top:416px;
  width:214px;
  height:37px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
