* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
	background: #ffffff;
	color: #333;
	font-size: 1.4rem;
	height: 100%;
}

ul  {
	padding: 0;
	list-style: none;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.text-orange {
	color: #fc8200;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	display: inline-block;
	content: "";
	clear: both;
	visibility: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	font-size: 1.4rem;
	max-width: 680px;
}

.header {
	width: 100%;
	font-size: 1.6rem;
	background: #01c6db;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.fixed {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 999;
}

.container {
	padding-top: 50px;
	margin: 0 auto;
	width: 100%;
	max-width: 680px;
	overflow: hidden;
	z-index: 99;
}

.chat-container {
	max-width: 680px;
	position: absolute;
	top: 50px;
	bottom: 75px;
}

.nav {
	padding: 15px 10px;
	width: 100%;
	color: #fff;
	text-align: center;
	position: relative;
}

.nav-left {
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -7px;
}

.card-info {
	border-bottom: 10px solid #f4f4f4;
}

.pic-group {
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
}

.pic-group .pic-head {
	display: inline-block;
	vertical-align: top;
}

.pic-group img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.pic-group .pic-name {
	display: inline-block;
	margin-left: 10px;
	
}

.pic-group .pic-name h1 {
	margin: 0.67em 0;
	font-size: 1.6rem;
	color: #333;
	font-weight: normal;
}

.pic-group .pic-name p {
	line-height: 1rem;
	color: #999;
}

.card-details {
	background: #fff;
	height: 100%;
}

.list {
	padding: 0 10px;
	font-size: 1.4rem;
	border-top: 1px solid #e8e8e8;
}
.list .list-row {
	padding: 10px 0;
	width: 100%;
	display: flex;
	align-items: center;
}
	
.list .list-row:not(:last-child) {
	border-bottom: 1px solid #e8e8e8;
}

.list .list-row .list-left {
	color: #999;
	width: 40%;
}

.list .list-row .list-right {
	width: 60%;
	text-align: right;
}

.list .list-row.last {
	display: inline-block;
}

.chat-btn-group {
	padding: 10px 0;
	width: 100%;
	font-size: 0;
}

.chat-btn-group .btn {
	margin-left: 5%;
	width: 42%;
	padding: 10px 0 10px 20px;
	position: relative;
}

/****聊天框 start****/
.chat-container {
	background: #f5f5f5;
	//margin-bottom: 50px;
}

.chat-list {
	margin: 20px 10px 0 10px;
	font-size: 0;
	width: 80%;
	position: relative;
}

.chat-list .chat-info {
	display: table-cell;
	padding: 10px;
	font-size: 1.4rem;
	border-radius: 8px;
	position: relative;
}

.chat-list .chat-img {
	display: table-cell;
	width: 50px;
	vertical-align: top;
	
}

.chat-list .chat-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.chat-list-right .chat-info {
	background: #4cd4e3;
	color: #fff;
	border: 1px solid #4cd4e3;
}

.chat-list-right .chat-img {
	padding-left: 20px;
}

.chat-list-right .chat-info:before {
	position: absolute;
	right: -17px;
	top: 20px;
	content:"";
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #4cd4e3;
}

.chat-list-right.error .chat-info {
	background: #fff;
	color: #333;
}

.chat-list-right.error .chat-info:after {
	position: absolute;
	right: -16px;
	top: 20px;
	content:"";
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
}

.chat-list-left .chat-info {
	background: #fff;
	color: #333;
	border: 1px solid #bbbbbb;
}

.chat-list-left .chat-img {
	padding-right: 20px;
}

.chat-list-left .chat-info:before {
	position: absolute;
	left: -17px;
	top: 20px;
	content:"";
	border-width: 8px;
	border-style: solid;
	border-color: transparent #bbbbbb transparent transparent;
}

.chat-list-left .chat-info:after {
	position: absolute;
	left: -16px;
	top: 20px;
	content:"";
	border-width: 8px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
}

.chat-date-tips {
	margin-top: 30px;
	text-align: center;
}

.chat-date-tips span {
	padding: 5px 10px;
	color: #fff;
	background: #cccccc;
	border-radius: 5px;
}

.chat-tips {
	margin: 30px 10px 0;
	padding: 10px;
	color: #fff;
	background: #cccccc;
	border-radius: 5px;
}

/****聊天框 end****/
/***发送框***/
.chat-send {
	background: #fff;
}

.send-group {
	padding: 15px;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}

.chat-input {
	display: inline-block;
	padding: 0 10px;
	height: 40px;
	width: calc(100% - 135px);
	line-height: 40px;
	border: 1px solid #bbbbbb;
	outline: none;
	border-radius: 5px;
	vertical-align: top;
	overflow: hidden;
}

.btn-send {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border: none;
}

.btn-send.disabled {
	border: 1px solid #cccccc;
	background: #cccccc;
}

.chat-func {
	padding: 10px 0;
	display: none;
	
}

.chat-func span {
	margin-left: 10px;
}


.qqFace{
	padding-bottom: 10px;
	width: 100%;
	background: #fff;
	position: static;
}

.qqFace table {
	width: 100%;
}

.qqFace table td {
	padding: 10px 0;
	text-align: center;
}

.qqFace  .swiper-pagination {
	bottom: 0;
}

.qqFace .swiper-pagination .swiper-pagination-bullet-active {
	background: #a1a1a1;
}


/******选择导购*******/
.map {
	background: #fff;	
}

.map img {
	max-width: 100%;
}

.tips {
	padding-left: 20px;
	margin: 20px 0;
	line-height: 0;
}

.guide {
	width: 100%;
	background: #fff;
}

.guide .guide-list:first-of-type {
	border-top: 1px solid #e8e8e8;
}

.guide-list {
	display: table;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

.guide-list .left {
	display: table-cell;
	width: 70px;
	vertical-align: middle;
	text-align: center;
}

.guide-list .left img {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.guide-list .content {
	display: table-cell;
	padding-left: 5px;
	vertical-align: middle;
}

.dialog {
	//display: none;
}

.bg-dialog {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
}

.gudie-dialog {
	width: 80%;
	max-width: 544px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -40%;
	z-index: 999;
}

.gudie-dialog .head {
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.gudie-dialog .title {
	margin-top: 40px;
	text-align: center;
}

.guider-info {
	margin-top: 20px;
	padding: 0 15px;
}

.guider-info li {
	display: table;
	margin-top: 10px;
}

.guider-info li span {
	display: table-cell;
	color: #999;
	min-width: 70px;
}

.guider-info li p {
	display: table-cell;
}

.guider-btn-group  {
	margin: 30px 0 20px 0;
	width: 100%;
	font-size: 0;
}

.guider-btn-group .btn {
	padding: 10px 0;
	margin-left: 5.3%;
	width: 42%;
}


/***btn*****/
.btn {
	border-radius: 5px;
	background: #ff900c;
	color: #fff;
	font-size: 1.4rem;
	border: 1px solid #ff900c;
	outline: none;
}

.btn-hollow {
	color: #ff900c;
	background: #fff;
	border: 1px solid #ff900c;
}
/*****icon****/
.back-icon {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-style: solid;
	border-color: #fff transparent transparent #fff;
	border-width: 2px;
	transform: rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-tranform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
}

.go-icon {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-style: solid;
	border-color: #999 #999 transparent transparent ;
	border-width: 1px;
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -7px;
	transform: rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-tranform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}

.call-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -2.6rem;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../images/call-icon.png') no-repeat 0 0;
	background-size: 20px 20px;
}

.chat-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -2.6rem;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../images/chat-icon.png') no-repeat 0 0;
	background-size: 20px 20px;
}

.add-icon {
	display: inline-block;
	width: 35px;
	height: 40px;
	background: url('../images/add-icon.png') no-repeat 0 5px;
	background-size: 35px;
	vertical-align: top;
}

.smile-icon {
	display: inline-block;
	width: 35px;
	height: 40px;
	background: url('../images/smile-icon.png') no-repeat 0 5px;
	background-size: 35px;
	vertical-align: top;
}

.sending-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../images/sending-icon.png') no-repeat 0 0;
	background-size: 20px;
	position: absolute;
	left: -30px;
	bottom: 0;
}

.failed-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../images/failed-icon.png') no-repeat 0 0;
	background-size: 20px;
	position: absolute;
	left: -30px;
	bottom: 0;
}

.simg-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../images/simg-icon.png') no-repeat 0 0;
	background-size: 50px;
	vertical-align: top;
}

.simg-icon input[type=file] {
	width: 50px;
	height: 50px;
	opacity: 0;
}

.phone-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../images/phone-icon.png') no-repeat 0 0;
	background-size: 50px;
}
/****keyframes**/

.rotated {
	animation: rotated 2s linear infinite;
	-webkit-animation: rotated 2s linear infinite,;
	-moz-animation: rotated 2s linear infinite,;
	-ms-animation: rotated 2s linear infinite,
}

@keyframes rotated {
	0 {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotated {
	0 {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-moz-keyframes rotated {
	0 {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-ms-keyframes rotated {
	0 {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width:680px) {
	.gudie-dialog{
		margin-left: -257px;
	}
}
