body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:5px;
  top:5px;
  width:300px;
  height:632px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:632px;
}
#u1 {
  position:absolute;
  left:2px;
  top:308px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:109px;
  width:250px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:31px;
  top:97px;
  width:250px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:37px;
  top:123px;
  width:16px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:16px;
  height:1px;
}
#u7 {
  position:absolute;
  left:39px;
  top:123px;
  width:16px;
  height:10px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:16px;
  height:1px;
}
#u8 {
  position:absolute;
  left:37px;
  top:333px;
  width:240px;
  height:73px;
  font-size:20px;
  color:#FF3300;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:73px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:269px;
  top:120px;
  width:4px;
  height:4px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:269px;
  top:126px;
  width:4px;
  height:4px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:269px;
  top:132px;
  width:4px;
  height:4px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:92px;
  top:119px;
  width:147px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:31px;
  top:146px;
  width:254px;
  height:174px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:174px;
}
#u19 {
  position:absolute;
  left:2px;
  top:79px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:231px;
  top:163px;
  width:54px;
  height:27px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:236px;
  top:169px;
  width:15px;
  height:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:242px;
  top:169px;
  width:4px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:254px;
  top:168px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:69px;
  top:196px;
  width:178px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:26px;
  color:#FFFF00;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:70px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:107px;
  top:146px;
  width:102px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:111px;
  top:146px;
  width:62px;
  height:27px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:172px;
  top:156px;
  width:32px;
  height:14px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:12px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:33px;
  top:224px;
  width:47px;
  height:57px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u37 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:123px;
  top:416px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:67px;
  top:414px;
  width:38px;
  height:38px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u41 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:123px;
  top:433px;
  width:127px;
  height:19px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:48px;
  top:487px;
  width:25px;
  height:24px;
  font-size:9px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:97px;
  top:487px;
  width:25px;
  height:24px;
  font-size:9px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:143px;
  top:487px;
  width:25px;
  height:24px;
  font-size:9px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:187px;
  top:487px;
  width:25px;
  height:24px;
  font-size:9px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:230px;
  top:487px;
  width:25px;
  height:24px;
  font-size:9px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:42px;
  top:462px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:271px;
  top:487px;
  width:25px;
  height:24px;
  font-size:9px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:282px;
  top:481px;
  width:16px;
  height:39px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:39px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
