body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:79px;
  top:79px;
  width:1111px;
  height:707px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:707px;
}
#u3 {
  position:absolute;
  left:2px;
  top:346px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:-6px;
  width:808px;
  height:78px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:78px;
}
#u5 {
  position:absolute;
  left:2px;
  top:31px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1044px;
  top:25px;
  width:66px;
  height:29px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:79px;
  width:80px;
  height:708px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:708px;
}
#u9 {
  position:absolute;
  left:2px;
  top:346px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:-1px;
  top:78px;
  width:80px;
  height:511px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:511px;
}
#u11 {
  position:absolute;
  left:2px;
  top:248px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:79px;
  top:80px;
  width:140px;
  height:706px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:706px;
}
#u13 {
  position:absolute;
  left:2px;
  top:345px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:188px;
  top:104px;
  width:14px;
  height:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:93px;
  top:100px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#2BC589;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:93px;
  top:210px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:188px;
  top:216px;
  width:13px;
  height:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:92px;
  top:132px;
  width:99px;
  height:63px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:93px;
  top:237px;
  width:99px;
  height:63px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u25 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:124px;
  top:132px;
  width:86px;
  height:63px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:124px;
  top:239px;
  width:86px;
  height:63px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:126px;
  top:140px;
  width:53px;
  height:16px;
  color:#2BC586;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:126px;
  top:175px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:126px;
  top:245px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:126px;
  top:280px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:221px;
  top:155px;
  width:611px;
  height:479px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:479px;
}
#u39 {
  position:absolute;
  left:2px;
  top:232px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:521px;
  top:473px;
  width:25px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:527px;
  top:479px;
  width:13px;
  height:13px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:653px;
  top:351px;
  width:25px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:659px;
  top:357px;
  width:13px;
  height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:236px;
  top:94px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F36B3C;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:218px;
  top:118px;
  width:94px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:3px;
  width:94px;
  height:4px;
}
#u51 {
  position:absolute;
  left:351px;
  top:95px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:218px;
  top:120px;
  width:972px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:955px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:972px;
  height:1px;
}
#u54 {
  position:absolute;
  left:898px;
  top:141px;
  width:280px;
  height:108px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:108px;
}
#u55 {
  position:absolute;
  left:2px;
  top:46px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:914px;
  top:199px;
  width:118px;
  height:16px;
  color:#F4784F;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:911px;
  top:155px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1134px;
  top:197px;
  width:22px;
  height:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
