body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:910px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:910px;
}
#u1 {
  position:absolute;
  left:2px;
  top:447px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:908px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:908px;
}
#u4 {
  position:absolute;
  left:2px;
  top:446px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:220px;
  top:80px;
  width:970px;
  height:828px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:828px;
}
#u6 {
  position:absolute;
  left:2px;
  top:406px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1040px;
  top:49px;
  width:150px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:128px;
  top:204px;
  width:90px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#3FB889;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:220px;
  top:80px;
  width:1074px;
  height:41px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:233px;
  top:92px;
  width:56px;
  height:16px;
  font-size:14px;
  color:#F56338;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:318px;
  top:93px;
  width:76px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:429px;
  top:92px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:299px;
  top:96px;
  width:3px;
  height:3px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:304px;
  top:96px;
  width:3px;
  height:3px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:299px;
  top:105px;
  width:3px;
  height:3px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:304px;
  top:105px;
  width:3px;
  height:3px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:393px;
  top:96px;
  width:3px;
  height:3px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:398px;
  top:96px;
  width:3px;
  height:3px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:393px;
  top:105px;
  width:3px;
  height:3px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:398px;
  top:105px;
  width:3px;
  height:3px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1224px;
  top:92px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1189px;
  top:87px;
  width:25px;
  height:25px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:244px;
  top:152px;
  width:52px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:325px;
  top:152px;
  width:22px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:240px;
  top:193px;
  width:56px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:324px;
  top:183px;
  width:179px;
  height:40px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:323px;
  top:350px;
  width:153px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:149px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:240px;
  top:260px;
  width:56px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:324px;
  top:250px;
  width:179px;
  height:40px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
