body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:1px;
  top:0px;
  width:1190px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:79px;
  width:1111px;
  height:707px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:707px;
}
#u4 {
  position:absolute;
  left:2px;
  top:346px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1px;
  top:3px;
  width:780px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:75px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1045px;
  top:25px;
  width:66px;
  height:29px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1px;
  top:79px;
  width:80px;
  height:708px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:708px;
}
#u10 {
  position:absolute;
  left:2px;
  top:346px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:78px;
  width:80px;
  height:511px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:511px;
}
#u12 {
  position:absolute;
  left:2px;
  top:248px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:80px;
  width:140px;
  height:706px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:706px;
}
#u14 {
  position:absolute;
  left:2px;
  top:345px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:189px;
  top:104px;
  width:14px;
  height:11px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:94px;
  top:100px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#2BC589;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:94px;
  top:210px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:189px;
  top:216px;
  width:13px;
  height:11px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:93px;
  top:132px;
  width:99px;
  height:63px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:94px;
  top:237px;
  width:99px;
  height:63px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u26 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:125px;
  top:132px;
  width:86px;
  height:63px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u28 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:125px;
  top:239px;
  width:86px;
  height:63px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:127px;
  top:140px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:127px;
  top:175px;
  width:53px;
  height:16px;
  color:#AEAEAE;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:127px;
  top:245px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:127px;
  top:280px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:235px;
  top:91px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F36B3C;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:303px;
  top:150px;
  width:107px;
  height:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:244px;
  top:155px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:423px;
  top:156px;
  width:66px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:616px;
  top:157px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:815px;
  top:222px;
  width:94px;
  height:29px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:241px;
  top:279px;
  width:934px;
  height:114px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:128px;
  top:0px;
  width:125px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:253px;
  top:0px;
  width:176px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:429px;
  top:0px;
  width:147px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:576px;
  top:0px;
  width:76px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:652px;
  top:0px;
  width:77px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:729px;
  top:0px;
  width:200px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:30px;
  width:128px;
  height:36px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:128px;
  top:30px;
  width:125px;
  height:36px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:253px;
  top:30px;
  width:176px;
  height:36px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:172px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:429px;
  top:30px;
  width:147px;
  height:36px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:576px;
  top:30px;
  width:76px;
  height:36px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:652px;
  top:30px;
  width:77px;
  height:36px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:729px;
  top:30px;
  width:200px;
  height:36px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:66px;
  width:128px;
  height:43px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u81 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:128px;
  top:66px;
  width:125px;
  height:43px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
}
#u83 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:253px;
  top:66px;
  width:176px;
  height:43px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:43px;
}
#u85 {
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:429px;
  top:66px;
  width:147px;
  height:43px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:43px;
}
#u87 {
  position:absolute;
  left:2px;
  top:14px;
  width:143px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:576px;
  top:66px;
  width:76px;
  height:43px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
}
#u89 {
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:652px;
  top:66px;
  width:77px;
  height:43px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u91 {
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:729px;
  top:66px;
  width:200px;
  height:43px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u93 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:987px;
  top:322px;
  width:27px;
  height:16px;
  color:#009DD9;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1023px;
  top:322px;
  width:27px;
  height:16px;
  color:#009DD9;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:627px;
  top:416px;
  width:392px;
  height:43px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:43px;
}
#u99 {
  position:absolute;
  left:2px;
  top:14px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1034px;
  top:417px;
  width:145px;
  height:42px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u101 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:516px;
  top:428px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:1067px;
  top:222px;
  width:94px;
  height:29px;
  color:#000000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1067px;
  top:322px;
  width:27px;
  height:16px;
  color:#009DD9;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1105px;
  top:322px;
  width:53px;
  height:16px;
  color:#009DD9;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:497px;
  top:151px;
  width:103px;
  height:28px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:28px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:842px;
  top:156px;
  width:27px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:883px;
  top:150px;
  width:105px;
  height:28px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u114_input {
  font-family:'应用字体';
}
#u114_input:disabled {
  color:grayText;
}
#u115 {
  position:absolute;
  left:1016px;
  top:156px;
  width:27px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1056px;
  top:150px;
  width:105px;
  height:28px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u117_input {
  font-family:'应用字体';
}
#u117_input:disabled {
  color:grayText;
}
#u118 {
  position:absolute;
  left:943px;
  top:222px;
  width:94px;
  height:29px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u119 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:219px;
  top:115px;
  width:94px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:3px;
  width:94px;
  height:4px;
}
#u121 {
  position:absolute;
  left:352px;
  top:92px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:222px;
  top:117px;
  width:972px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:955px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:972px;
  height:1px;
}
#u124 {
  position:absolute;
  left:679px;
  top:152px;
  width:121px;
  height:28px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u125 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:293px;
  top:318px;
  width:20px;
  height:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:293px;
  top:356px;
  width:20px;
  height:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:987px;
  top:358px;
  width:27px;
  height:16px;
  color:#009DD9;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1023px;
  top:358px;
  width:27px;
  height:16px;
  color:#009DD9;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1067px;
  top:358px;
  width:27px;
  height:16px;
  color:#009DD9;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:1105px;
  top:358px;
  width:53px;
  height:16px;
  color:#009DD9;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:124px;
  top:241px;
  width:66px;
  height:25px;
  color:#2BC586;
  text-align:left;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1200px;
  top:280px;
  width:60px;
  height:0px;
}
#u140_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u141 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1278px;
  top:270px;
  width:32px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1278px;
  top:270px;
  width:282px;
  height:38px;
  font-size:16px;
  color:#0099CC;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:80px;
  top:830px;
  width:650px;
  height:340px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:340px;
}
#u147 {
  position:absolute;
  left:2px;
  top:162px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:191px;
  top:906px;
  width:109px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:191px;
  top:945px;
  width:109px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:191px;
  top:984px;
  width:107px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:191px;
  top:1023px;
  width:146px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:191px;
  top:1062px;
  width:94px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:423px;
  top:897px;
  width:175px;
  height:175px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:175px;
}
#u159 {
  position:absolute;
  left:2px;
  top:80px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:475px;
  top:1076px;
  width:66px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:112px;
  top:870px;
  width:598px;
  height:10px;
}
#u162_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u162_end {
  position:absolute;
  left:581px;
  top:-5px;
  width:18px;
  height:20px;
}
#u162_line {
  position:absolute;
  left:0px;
  top:5px;
  width:598px;
  height:1px;
}
#u163 {
  position:absolute;
  left:310px;
  top:838px;
  width:169px;
  height:33px;
  font-size:28px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:690px;
  top:838px;
  width:20px;
  height:33px;
  font-size:28px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:340px;
  top:1125px;
  width:100px;
  height:25px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u167_input {
  font-family:'应用字体';
}
