body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:18px;
  top:20px;
  width:102px;
  height:44px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-size:36px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:163px;
  top:42px;
  width:230px;
  height:20px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:75px;
  width:1190px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1121px;
  top:42px;
  width:40px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1083px;
  top:34px;
  width:34px;
  height:35px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:80px;
  width:165px;
  height:720px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:720px;
}
#u12 {
  position:absolute;
  left:2px;
  top:352px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:125px;
  top:124px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:125px;
  top:203px;
  width:22px;
  height:22px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:129px;
  top:290px;
  width:15px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:22px;
  top:124px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797971;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:22px;
  top:202px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797979;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:22px;
  top:285px;
  width:113px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:22px;
  top:330px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:22px;
  top:358px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:22px;
  top:386px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
