body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:18px;
  top:20px;
  width:102px;
  height:44px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-size:36px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:163px;
  top:42px;
  width:230px;
  height:20px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:75px;
  width:1190px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1121px;
  top:42px;
  width:40px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1083px;
  top:34px;
  width:34px;
  height:35px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:80px;
  width:165px;
  height:720px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:720px;
}
#u12 {
  position:absolute;
  left:2px;
  top:352px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:125px;
  top:124px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:125px;
  top:203px;
  width:22px;
  height:22px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:129px;
  top:290px;
  width:15px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:22px;
  top:124px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797971;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:22px;
  top:202px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797979;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:22px;
  top:285px;
  width:113px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:22px;
  top:332px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:22px;
  top:360px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:22px;
  top:388px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:285px;
  top:154px;
  width:40px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:445px;
  top:146px;
  width:332px;
  height:31px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:285px;
  top:205px;
  width:66px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:445px;
  top:199px;
  width:332px;
  height:31px;
  color:#1B1B1B;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:285px;
  top:259px;
  width:82px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:445px;
  top:251px;
  width:332px;
  height:31px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:445px;
  top:303px;
  width:332px;
  height:31px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:285px;
  top:310px;
  width:122px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:285px;
  top:363px;
  width:99px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:445px;
  top:355px;
  width:332px;
  height:31px;
  color:#A1A1A1;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:445px;
  top:406px;
  width:332px;
  height:31px;
  color:#A1A1A1;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:285px;
  top:414px;
  width:69px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:285px;
  top:463px;
  width:92px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:445px;
  top:456px;
  width:332px;
  height:31px;
  color:#1B1B1B;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:445px;
  top:507px;
  width:332px;
  height:31px;
  color:#A1A1A1;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:285px;
  top:515px;
  width:108px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:257px;
  top:149px;
  width:16px;
  height:27px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:258px;
  top:199px;
  width:16px;
  height:27px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:258px;
  top:256px;
  width:16px;
  height:27px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:258px;
  top:306px;
  width:16px;
  height:27px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:258px;
  top:354px;
  width:16px;
  height:27px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:258px;
  top:412px;
  width:16px;
  height:27px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:258px;
  top:459px;
  width:16px;
  height:27px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:258px;
  top:510px;
  width:16px;
  height:27px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:806px;
  top:507px;
  width:78px;
  height:31px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:806px;
  top:406px;
  width:78px;
  height:31px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:806px;
  top:355px;
  width:78px;
  height:31px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:285px;
  top:626px;
  width:139px;
  height:34px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u86 {
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:870px;
  width:1190px;
  height:800px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:800px;
}
#u88 {
  position:absolute;
  left:2px;
  top:392px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:18px;
  top:890px;
  width:102px;
  height:44px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-size:36px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:163px;
  top:912px;
  width:230px;
  height:20px;
  color:#666666;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:945px;
  width:1190px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}
#u94 {
  position:absolute;
  left:1121px;
  top:912px;
  width:40px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1083px;
  top:904px;
  width:34px;
  height:35px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:950px;
  width:165px;
  height:720px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:720px;
}
#u99 {
  position:absolute;
  left:2px;
  top:352px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:125px;
  top:994px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u101 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:125px;
  top:1073px;
  width:22px;
  height:22px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u103 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:129px;
  top:1160px;
  width:15px;
  height:10px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:22px;
  top:994px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797971;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:22px;
  top:1072px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797979;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:22px;
  top:1155px;
  width:113px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:22px;
  top:1202px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:22px;
  top:1230px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:22px;
  top:1258px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:247px;
  top:1011px;
  width:16px;
  height:27px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u119 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:247px;
  top:1067px;
  width:16px;
  height:27px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u121 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:247px;
  top:1177px;
  width:16px;
  height:27px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u123 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:247px;
  top:1233px;
  width:16px;
  height:27px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u125 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:247px;
  top:1289px;
  width:16px;
  height:27px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:247px;
  top:1346px;
  width:16px;
  height:27px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:247px;
  top:1401px;
  width:16px;
  height:27px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:247px;
  top:1121px;
  width:16px;
  height:27px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:928px;
  top:1406px;
  width:78px;
  height:31px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:928px;
  top:1290px;
  width:78px;
  height:31px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:928px;
  top:1230px;
  width:78px;
  height:31px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u139 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:284px;
  top:1530px;
  width:139px;
  height:34px;
  color:#FFFFFF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u141 {
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:284px;
  top:1000px;
  width:628px;
  height:453px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:55px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:55px;
}
#u144 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:221px;
  top:0px;
  width:402px;
  height:55px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:55px;
}
#u146 {
  position:absolute;
  left:2px;
  top:20px;
  width:398px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:55px;
  width:221px;
  height:57px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:57px;
}
#u148 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:221px;
  top:55px;
  width:402px;
  height:57px;
  color:#1B1B1B;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:57px;
}
#u150 {
  position:absolute;
  left:2px;
  top:20px;
  width:398px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:112px;
  width:221px;
  height:52px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:52px;
}
#u152 {
  position:absolute;
  left:2px;
  top:18px;
  width:217px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:221px;
  top:112px;
  width:402px;
  height:52px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:52px;
}
#u154 {
  position:absolute;
  left:2px;
  top:18px;
  width:398px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:0px;
  top:164px;
  width:221px;
  height:56px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:56px;
}
#u156 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:221px;
  top:164px;
  width:402px;
  height:56px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:56px;
}
#u158 {
  position:absolute;
  left:2px;
  top:20px;
  width:398px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:0px;
  top:220px;
  width:221px;
  height:55px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:55px;
}
#u160 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:221px;
  top:220px;
  width:402px;
  height:55px;
  color:#A1A1A1;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:55px;
}
#u162 {
  position:absolute;
  left:2px;
  top:20px;
  width:398px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:275px;
  width:221px;
  height:56px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:56px;
}
#u164 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:221px;
  top:275px;
  width:402px;
  height:56px;
  color:#A1A1A1;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:56px;
}
#u166 {
  position:absolute;
  left:2px;
  top:20px;
  width:398px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:331px;
  width:221px;
  height:59px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:59px;
}
#u168 {
  position:absolute;
  left:2px;
  top:22px;
  width:217px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:221px;
  top:331px;
  width:402px;
  height:59px;
  color:#1B1B1B;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:59px;
}
#u170 {
  position:absolute;
  left:2px;
  top:22px;
  width:398px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:390px;
  width:221px;
  height:58px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:58px;
}
#u172 {
  position:absolute;
  left:2px;
  top:21px;
  width:217px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:221px;
  top:390px;
  width:402px;
  height:58px;
  color:#A1A1A1;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:58px;
}
#u174 {
  position:absolute;
  left:2px;
  top:21px;
  width:398px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1260px;
  top:0px;
  width:1190px;
  height:800px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:800px;
}
#u176 {
  position:absolute;
  left:2px;
  top:392px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1278px;
  top:20px;
  width:102px;
  height:44px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-size:36px;
  color:#000000;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1423px;
  top:42px;
  width:230px;
  height:20px;
  color:#666666;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1260px;
  top:75px;
  width:1190px;
  height:10px;
}
#u181_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}
#u182 {
  position:absolute;
  left:2381px;
  top:42px;
  width:40px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:2343px;
  top:34px;
  width:34px;
  height:35px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u185 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1260px;
  top:80px;
  width:165px;
  height:720px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:720px;
}
#u187 {
  position:absolute;
  left:2px;
  top:352px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1385px;
  top:124px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u189 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:1385px;
  top:203px;
  width:22px;
  height:22px;
  color:#999999;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u191 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1389px;
  top:290px;
  width:15px;
  height:10px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u193 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1282px;
  top:124px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797971;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1282px;
  top:202px;
  width:93px;
  height:20px;
  font-size:18px;
  color:#797979;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1282px;
  top:285px;
  width:113px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1282px;
  top:332px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1282px;
  top:360px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1282px;
  top:388px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#797979;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1545px;
  top:154px;
  width:40px;
  height:16px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:1705px;
  top:146px;
  width:332px;
  height:31px;
  text-align:left;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u209 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1545px;
  top:205px;
  width:66px;
  height:16px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:1705px;
  top:199px;
  width:332px;
  height:31px;
  color:#1B1B1B;
  text-align:left;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u213 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1545px;
  top:259px;
  width:82px;
  height:16px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:1705px;
  top:251px;
  width:332px;
  height:31px;
  text-align:left;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u217 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1705px;
  top:303px;
  width:332px;
  height:31px;
  text-align:left;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u219 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:1545px;
  top:310px;
  width:122px;
  height:16px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:1545px;
  top:363px;
  width:99px;
  height:16px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:1705px;
  top:355px;
  width:332px;
  height:31px;
  color:#A1A1A1;
  text-align:left;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u225 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1705px;
  top:406px;
  width:332px;
  height:31px;
  color:#A1A1A1;
  text-align:left;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u227 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:1545px;
  top:414px;
  width:69px;
  height:16px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:1545px;
  top:463px;
  width:92px;
  height:16px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:1705px;
  top:456px;
  width:332px;
  height:31px;
  color:#1B1B1B;
  text-align:left;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u233 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:1705px;
  top:507px;
  width:332px;
  height:31px;
  color:#A1A1A1;
  text-align:left;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1545px;
  top:515px;
  width:108px;
  height:16px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:1517px;
  top:149px;
  width:16px;
  height:27px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u239 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1518px;
  top:199px;
  width:16px;
  height:27px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u241 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1518px;
  top:256px;
  width:16px;
  height:27px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u243 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1518px;
  top:306px;
  width:16px;
  height:27px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u245 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:1518px;
  top:354px;
  width:16px;
  height:27px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u247 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:1518px;
  top:412px;
  width:16px;
  height:27px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:1518px;
  top:459px;
  width:16px;
  height:27px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1518px;
  top:510px;
  width:16px;
  height:27px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u253 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:2150px;
  top:507px;
  width:78px;
  height:31px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u255 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:2150px;
  top:406px;
  width:78px;
  height:31px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u257 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:2150px;
  top:355px;
  width:78px;
  height:31px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u259 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:1545px;
  top:626px;
  width:139px;
  height:34px;
  color:#FFFFFF;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u261 {
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:2047px;
  top:153px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:2047px;
  top:206px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u266 {
  position:absolute;
  left:2047px;
  top:258px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u268 {
  position:absolute;
  left:2047px;
  top:311px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u270 {
  position:absolute;
  left:2047px;
  top:463px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
