/*编辑微信接口列表*/
h2{font-size: 25px; color: #666666; border-bottom:1px solid #e8e8e8 ; padding-bottom: 10px; font-weight: normal;}
input{width: 535px; height: 30px; padding-left: 10px; background-color: white; color: #666666;font-family: "微软雅黑"; }
.wechat_info span{color: #666666;}
input[type="submit"]{ width: 110px; margin-left: 20px; text-align: center; cursor: pointer; font-size: 14px;}
button{width: 148px; height: 45px; margin-left: 20px; outline: none; border: none; cursor: pointer; font-size: 16px;font-family: "微软雅黑"; border-radius: 2px;}
input[type="button"]{ width: 110px; margin-left: 20px; text-align: center; cursor: pointer; font-size: 14px;}
.wechat_info {padding: 30px; font-family: "微软雅黑"; display: none;}
.wechat_info table{ margin: 30px 0;border-collapse: collapse; }
.wechat_info input[type='text']{height: 45px;}
.wechat_info tr td{height: 60px; vertical-align: middle; }
.wechat_info tr td:nth-of-type(1){width: 170px; font-size: 14px;}
.wechat_info .save_info{background-color:#ffae13; color: white; border-radius: 2px; font-size: 16px;}
.wechat_info .star_orange,.wechat_edit .star_orange{ display:inline-block; margin-right:10px; font-size: 20px; color: #ff6600; vertical-align: middle; margin-top: 8px;border-radius: 2px;}
.gray_999{color: #999!important;} 

/*微信接口列表*/
.wechat_edit{padding: 30px; font-family: "微软雅黑";}
.wechat_edit table{ margin: 30px 0;border-collapse: collapse; }
.wechat_edit tr td{height: 20px; vertical-align: middle; line-height: 60px; padding-left: 10px; color: #666666;}
.wechat_edit tr td:nth-of-type(1){width: 15px; text-align: left;color: #ff6600;}
.wechat_edit tr td:nth-of-type(2){background-color: #f8f8f8; width: 200px ; border: 1px solid #dddddd; font-size: 14px;}
.wechat_edit tr td:nth-of-type(3){width: 540px;padding: 20px; font-size:14px; word-break: break-all; line-height: 20px; overflow: hidden; border: 1px solid #dddddd;}
.wechat_edit span{color: #666666;}
.wechat_edit .edit_info{background-color:#2bc589; color: white;border-radius: 2px;font-size: 16px;}
.lespac_1{letter-spacing: 19.5px; }
.lespac_2{letter-spacing: 14.5px;}
.lespac_3{letter-spacing: 4px;}
.lespac_4{letter-spacing: 0;}
.lespac_5{letter-spacing: 3px;}
.lespac_6{letter-spacing: 7px;}
.lespac_7{letter-spacing: 3px;}
.lespac_8{letter-spacing: 2px;}
