body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1191px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:1px;
  top:29px;
  width:1190px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:108px;
  width:1111px;
  height:707px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:707px;
}
#u4 {
  position:absolute;
  left:2px;
  top:346px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1px;
  top:32px;
  width:780px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:75px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1045px;
  top:54px;
  width:66px;
  height:29px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1px;
  top:108px;
  width:80px;
  height:708px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:708px;
}
#u10 {
  position:absolute;
  left:2px;
  top:346px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:107px;
  width:80px;
  height:511px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:511px;
}
#u12 {
  position:absolute;
  left:2px;
  top:248px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:109px;
  width:140px;
  height:706px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:706px;
}
#u14 {
  position:absolute;
  left:2px;
  top:345px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:189px;
  top:133px;
  width:14px;
  height:11px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:94px;
  top:129px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#2BC589;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:94px;
  top:239px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:189px;
  top:245px;
  width:13px;
  height:11px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:93px;
  top:161px;
  width:99px;
  height:63px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:94px;
  top:266px;
  width:99px;
  height:63px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u26 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:125px;
  top:161px;
  width:86px;
  height:63px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u28 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:125px;
  top:268px;
  width:86px;
  height:63px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:127px;
  top:169px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:127px;
  top:204px;
  width:53px;
  height:16px;
  color:#AEAEAE;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:127px;
  top:274px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:127px;
  top:309px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:257px;
  top:116px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:363px;
  top:116px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F36B3C;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:220px;
  top:136px;
  width:971px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:954px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:971px;
  height:1px;
}
#u44 {
  position:absolute;
  left:348px;
  top:135px;
  width:94px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:3px;
  width:94px;
  height:4px;
}
#u45 {
  position:absolute;
  left:269px;
  top:194px;
  width:100px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:270px;
  top:240px;
  width:111px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:268px;
  top:290px;
  width:534px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:268px;
  top:386px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51_input {
  font-family:'应用字体';
}
#u53 {
  position:absolute;
  left:1px;
  top:863px;
  width:1190px;
  height:80px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u54 {
  position:absolute;
  left:2px;
  top:32px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:80px;
  top:942px;
  width:1111px;
  height:707px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:707px;
}
#u56 {
  position:absolute;
  left:2px;
  top:346px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1px;
  top:866px;
  width:780px;
  height:75px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:75px;
}
#u58 {
  position:absolute;
  left:2px;
  top:30px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1045px;
  top:888px;
  width:66px;
  height:29px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1px;
  top:942px;
  width:80px;
  height:708px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:708px;
}
#u62 {
  position:absolute;
  left:2px;
  top:346px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:941px;
  width:80px;
  height:511px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:511px;
}
#u64 {
  position:absolute;
  left:2px;
  top:248px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:80px;
  top:943px;
  width:140px;
  height:706px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:706px;
}
#u66 {
  position:absolute;
  left:2px;
  top:345px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:189px;
  top:967px;
  width:14px;
  height:11px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:94px;
  top:963px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#2BC589;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:94px;
  top:1073px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:189px;
  top:1079px;
  width:13px;
  height:11px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:93px;
  top:995px;
  width:99px;
  height:63px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u76 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:94px;
  top:1100px;
  width:99px;
  height:63px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
}
#u78 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:125px;
  top:995px;
  width:86px;
  height:63px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u80 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:125px;
  top:1102px;
  width:86px;
  height:63px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:63px;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:127px;
  top:1003px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:127px;
  top:1038px;
  width:53px;
  height:16px;
  color:#AEAEAE;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:127px;
  top:1108px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:127px;
  top:1143px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:257px;
  top:950px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:363px;
  top:950px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#F36B3C;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:220px;
  top:970px;
  width:971px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:954px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:971px;
  height:1px;
}
#u96 {
  position:absolute;
  left:348px;
  top:969px;
  width:94px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:3px;
  width:94px;
  height:4px;
}
#u97 {
  position:absolute;
  left:269px;
  top:1028px;
  width:66px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:270px;
  top:1074px;
  width:144px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:268px;
  top:1129px;
  width:534px;
  height:32px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:32px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:268px;
  top:1220px;
  width:100px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u103_input {
  font-family:'应用字体';
}
#u104 {
  position:absolute;
  left:335px;
  top:1025px;
  width:65px;
  height:22px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u104_input {
  font-family:'应用字体';
}
#u104_input:disabled {
  color:grayText;
}
#u105 {
  position:absolute;
  left:335px;
  top:1069px;
  width:46px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u105_input {
  font-family:'应用字体';
}
#u106 {
  position:absolute;
  left:120px;
  top:1664px;
  width:231px;
  height:76px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
}
#u107 {
  position:absolute;
  left:2px;
  top:30px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
