html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
	background: #ffffff;
	color: #333;
}

@-webkit-keyframes bounceIn { /* 默认 */
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.wrap {
	width: 100%;
	height: 100%;
	background: url(../images/origin_index_bg.png) top center no-repeat;
	background-size: 100% auto;
	position: fixed;
}
.wrap-animate{
	animation:myfirst .7s ease-in-out forwards;
	-webkit-animation:myfirst .7s ease-in-out forwards; /* Safari and Chrome */
}


@keyframes myfirst{
	0% {
		opacity: 0;
		background-size:100% auto;
		}
	10% {
		opacity: 0.1;
		background-size:80% auto;
	}
	30%{
		opacity: 0.3;
		background-size:120% auto;
	}
	100% {
		opacity: 1;
		background-size:100% auto;
		}
	}
	
@-webkit-keyframes myfirst{
	0% {
		opacity: 0;
		background-size:80% auto;
		}
	30% {
		opacity: 0.3;
		background-size:120% auto;
	}
	100% {
		opacity: 1;
		background-size:100% auto;
		}
}
	
.red-pack{
	display: none;
}
.red-pack img{
	width: 100%;
	height: 100%;
}
.redpack-01{
	display: block;
	width: 1.4rem;
	height: 2.15rem;
	position: absolute;
	top: 2rem;
	left: 1rem;
	animation: leftin .9s ease-in forwards;
	-webkit-animation: leftin .9s ease-in forwards;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	
}
.redpack-02{
	display: block;
	width: 1.4rem;
	height: 2.15rem;
	position: absolute;
	top: 8rem;
	left: 1.5rem;
	animation: leftin02 .3s ease-in forwards;
	-webkit-animation: leftin02 .3s ease-in forwards;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	
}
.redpack-03{
	display: block;
	width: 2rem;
	height: 2.75rem;
	position: absolute;
	top: 2rem;
	right: 1rem;
	animation: rightin .8s ease-in forwards;
	-webkit-animation: rightin .8s ease-in forwards;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	
}
.redpack-04{
	display: block;
	width: 1.55rem;
	height: 2.375rem;
	position: absolute;
	top: 9rem;
	right: 2.5rem;
	animation: rightin02 .6s ease-in forwards;
	-webkit-animation: rightin02 .6s ease-in forwards;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	
}
@keyframes leftin { /* 默认 */
	0% {
		opacity: 0;
		transform: rotate(-45deg) scale(0.2,0.2) translate(-8rem,-16rem);
		
	}
	100% {
		opacity: 1;
		transform: rotate(-45deg) scale(1,1) translate(0,0);
		
	}
}
@-webkit-keyframes leftin { /* 默认 */
	0% {
		opacity: 0;
		-webkit-transform: rotate(-45deg) scale(0.2,0.2) translate(-8rem,-16rem);
		
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(-45deg) scale(1,1) translate(0,0);
		
	}
}
@keyframes leftin02 { /* 默认 */
	0% {
		opacity: 0;
		transform: rotate(-45deg) scale(0.2,0.2) translate(-8rem,-16rem);
		
	}
	100% {
		opacity: 1;
		transform: rotate(-45deg) scale(1,1) translate(0,0);	
	}
}
@-webkit-keyframes leftin02 { /* 默认 */
	0% {
		opacity: 0;
		-webkit-transform: rotate(-45deg) scale(0.2,0.2) translate(-8rem,-16rem);
		
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(-45deg) scale(1,1) translate(0,0);
		
	}
}
@keyframes rightin { /* 默认 */
	0% {
		opacity: 0;
		transform: rotate(45deg) scale(0.2,0.2) translate(8rem,-24rem);		
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(45deg) scale(1,1) translate(0,0);
	}
}
@-webkit-keyframes rightin { /* 默认 */
	0% {
		opacity: 0;
		-webkit-transform: rotate(45deg) scale(0.2,0.2) translate(8rem,-24rem);
		
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(45deg) scale(1,1) translate(0,0);
		
	}
}
@keyframes rightin02 { /* 默认 */
	0% {
		opacity: 0;
		transform: rotate(45deg) scale(0.2,0.2) translate(8rem,-24rem);	
	}
	100% {
		opacity: 1;
		transform: rotate(45deg) scale(1,1) translate(0,0);
		
	}
}
@-webkit-keyframes rightin02 { /* 默认 */
	0% {
		opacity: 0;
		-webkit-transform: rotate(45deg) scale(0.2,0.2) translate(8rem,-24rem);
		
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(45deg) scale(1,1) translate(0,0);
		
	}
}

.wrap-footer {
	display: none;
	width: 100%;
	position: absolute;
	bottom: .5rem;
	font-size: .35rem;
	background: url(../images/origin_footer_bg.png) center center no-repeat;
	background-size: 100% 100%;
}
.wrap-footer-animate{
	display: block;
	animation: gettop .3s;
	-webkit-animation: gettop .3s;
}
@keyframes gettop { /* 默认 */
	0% {
		opacity: 0;
		transform: translateY(8rem);;
		
	}
	100% {
		opacity: 1;
		transform:translateY(0);
		
	}
}
@-webkit-keyframes gettop { /* 默认 */
	0% {
		opacity: 0;
		-webkit-transform: translateY(8rem);
		
	}
	100% {
		opacity: 1;
		-webkit-transform:translateY(0);
		
	}
}

.friend-btn{
	width: 13.025rem;
	height: 2.95rem;
	margin: 1.65rem auto;
	margin-bottom: .6rem;
	font-size: 1.05rem;
	color: #ffd32a;
	height: 2.875rem;
	line-height: 2.875rem;
	text-align: center;
	background: url(../images/friend_btn_bg.png) center center no-repeat;
	background-size: 100% 100%;
}
.festival-word{
	color: #e83337;
	text-align: center;
	font-size: .65rem;
	margin-bottom: .325rem;
}
.festival-bar{
	text-align: center;
	margin-bottom: .75rem;
	font-size: .75rem;
	color: #fdedd6;
}
.festival-btn{
	display: inline-block;
	width: 5.575rem;
	height: 1.575rem;
	margin: 0 .1875rem;
	text-align:center;
	line-height: 1.575rem;
	background: url(../images/btn_bar_bg.png) center center no-repeat;
	background-size: 100% 100%;
}

.share-mask{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
	opacity:0;
	z-index: -1;
}

.share-mask-bg{
	margin-top: -3rem;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 9.5rem;
	height: 9.25rem;
	background: url(../images/share-bg.png) center center no-repeat;
	background-size: 100% 100%;
}
.share-mask-word{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	font-size:.75rem ;
	text-align: center;
	color: white;
	font-weight: normal;
	white-space: nowrap;
}


/*********排行弹框********/
.layermcont{
	width: 14rem;
	border-radius: .25rem;
}
.layermchild{
	background-color: transparent;
}

.charts-modal {
	padding: 10px;
	border-radius: 5px;
	background: #d62f37;
	position: relative;
	font-size: .625rem;
	margin-top: 45px;
}

.charts-header {
	position: absolute;
	top: 0px;
	left: 50%;
    width: 230px;
    margin-top: -45px;
    margin-left: -115px;
}

.charts-header img {
	width: 100%;
}

.charts-body {
	height: 100%;
	background: #fff9d5;
	border: 1px solid #fff9d5;
	border-radius: 5px;
	color: #591d0c;
}

.chart-number {
	margin: 20px 0 10px 0;
	text-align: center;
}

.chart-table {
	padding: .5rem 0;
	width: 100%;
}

.chart-table tr th,
.chart-table tr td {
	text-align: center;
}

.chart-table tbody tr {
	border-bottom: 1px solid #efd9a4;
}

.chart-table thead tr th{
	height: 1.25rem;
}
.chart-table tbody tr td {
	height: 3rem;
}

.chart-table img {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}

.chart-icon {
	display: inline-block;
	width: 1.5rem;
	height: 2rem;
	line-height: 1.6rem;
	text-align: center;
	color: #fff;
}

.first-icon {
	background: url("../images/first-icon.png") no-repeat;
	background-size: 100% 100%;
	
}

.second-icon {
	background: url("../images/second-icon.png") no-repeat;
	background-size: 100% 100%;
}

.third-icon {
	background: url("../images/third-icon.png") no-repeat;
	background-size: 100% 100%;
}

.chart-num-icon {
	display: inline-block;
	width: 1.45rem;
	height: 1.45rem;
	line-height: 1.45rem;
	border-radius: 50%;
	background: #f14951;
	color: #fff;
}

.modal-close {
	position: absolute;
	top: -35px;
	right: -10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(0,0,0,.2);
}

.modal-close .close-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	margin-left: -10px;
	margin-top: 0;
}

.modal-close .close-icon:before {
	width: 20px;
}

.close-icon {
	display: inline-block;
	width: 25px;
	height: 1px;
	background: #FFF;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
}

.close-icon:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 1px;
	background: #FFF;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	position: absolute;
	top: 0;
	left: 0;
}

/**********弹框样式**************/
/*
.data-dia, .data-dia > .fix {
	position: fixed;
	top: 0px;
	left: 0px;
	width:16rem;
	height: 100%;
	z-index: 1001;
	}
.data-dia {
	display: none;
	}
.data-dia > .fix {
	z-index: 1001;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	}
.data-dia .data-content {
	width:14rem;
	padding:0.25rem 0.75rem;
	text-align: left;
	position: relative;
	border-radius:0.25rem;
	margin: auto;
	z-index: 1002;
	background-color: transparent;
	}
.data-content *{
	font-size:0.625rem;
	}*/
