@charset UTF-8;

@ft-14:14px;
@ft-12:12px;
@cl-333:#333;
@cl-666:#666;
@cl-999:#999;
@cl-e8:#e8e8e8;
@cl-f5:#f5f5f5;
@cl-common:#2bc589;
@cl-focus:#2bc486;
@cl-warning:#ff6600;
@cl-border:#ddd;
@mb-20:20px;
@img-src:'../images';
@config-width:545px;
@tit-width:541px;
@cont-width:374px;
@tit-label:84px;
@date-width:175px;



@media screen and (min-width:1190px){
        .active-preview{
            margin-left:1%;
        }
}
@media screen and (min-width:1250px){
        .active-preview{
            margin-left:5%;
        }
}
@media screen and (min-width:1440px){
        .active-preview{
            margin-left: 15%;
        }
}

/*重用样式*/
.c-999{
    color:@cl-999;
}
.c-666{
    color:@cl-666;
}
.f-14{
    font-size: @ft-14;
}
.ver-40{
    vertical-align: 8px!important;
}
.star-orange{
     display:inline-block; 
     margin-right:2px; 
     font-size: 20px; 
     color: @cl-warning; 
     vertical-align: middle; 
     margin-top: 8px;
     border-radius: 2px;
}
.border-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.border-radius(@radius:2px){
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.confirm-btn{
    width: 148px;
    height: 45px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color:@cl-common;
    border: 1px solid @cl-common;
    color: white;
    font-size: @ft-14;
}

.setting{
    padding: 30px; 
    color: @cl-666;
    }
.active-catagory{
    border-bottom: 1px solid @cl-e8;
    margin-bottom: @mb-20;
    font-size: @ft-14;
        a{
          display: inline-block;
          text-align: center;
          padding: 2px 20px 10px 20px;
          margin-right: 20px;
        }
        .focus{
            color: @cl-focus;
            margin-bottom: -1px;
            border-bottom: 1px solid @cl-focus;
        }
    }

.active-config{
    float: left;
    width: @config-width;
    
}
.active-title{
    padding: 5px 10px;
    width: @tit-width;
    font-size: @ft-14;
    background-color: @cl-f5;
    border-radius: 2px;
    margin-bottom: @mb-20;
    margin-top: @mb-20;
    
    span{
        font-weight: bold;
    }
    
    .js-prize-tips{
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: -2px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
        background: url(../images/prize-tips.png);
    }    
    .tri-box{
        .border-box;
        .border-radius;
        position: absolute;
        width: 333px;
        height: 136px;
        padding: 20px;
        top: -146px;
        left: -80px;
        border: 1px solid #dfdfdf;
        background-color: white;
        z-index: 1000;
        
        p:nth-of-type(2){
            margin-top: 10px;
        }
    }
    .tri-rig1{
        position:absolute;
        width:0; 
        height:0; 
        border-width:6px; 
        border-color:#dfdfdf transparent transparent  transparent; 
        border-style:dashed dashed solid dashed; 
        overflow:hidden; 
        top:-11px; 
        left:2px;
        z-index: 1001;
        }
    .tri-rig2{
        position:absolute;
        width:0; 
        height:0; 
        border-width:6px; 
        border-color:#ffffff transparent transparent transparent; 
        border-style:dashed dashed solid dashed; 
        overflow:hidden; 
        top:-12px; 
        left:2px;
         z-index: 1001;
        }  
    .tri-hide{
        display: none;
    }   
}
.upimg-group{
    display: inline-block;
    vertical-align: middle;
}
.upimg-big{
    display: inline-block;
    width: 223px;
    height: 125px;
    font-size: @ft-12;
    text-align: center;
    margin-right: 15px;
    border: 1px dashed @cl-border;
    position: relative;
    cursor: pointer;
    
    img{
        width: 223px;
        height: 125px;
        position: absolute;
        top: 0;
        left: 0;
        border: medium none;
        display: none;
    }
    .pic-show{
        display: block;
    }
}
.upimg-small{
    .upimg-big;
     width: 126px;
     cursor: pointer;
     
     img{
        width: 124px;
        height: 124px;
        position: absolute;
        top: 0;
        left: 0;
        border: medium none;
        display: none;
     }
     
     .pic-show{
        display: block;
    }
}
.upimg-active-big,.upimg-activ-small{
    display: inline-block;
    font-size: @ft-12;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    border: 1px dashed @cl-border;
    position: relative;
    width: @date-width;
    height: 191px;
    vertical-align: middle;
    cursor: pointer;
     
     i{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
     }
     
     img{
        max-width: 175px;
        max-height: 191px;
        vertical-align: middle;
        border: medium none;
        display: none;
        position: relative;
     }
     
     .pic-show{
        display: inline-block;
    }
}

.addimg-ico{
    width: 48px;
    height: 16px;
    padding-left: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -8px;
    display: inline-block;
    background: url('@{img-src}/add_ico.png') no-repeat;
}
.title_tips{
    position: absolute; 
    line-height: 34px; 
    font-size: @ft-14;
    top: 0; 
    right: 90px; 
    color: @cl-666;
    
        span{
            color: @cl-666;
        }
    }
.upimg-all-tips{
    color: @cl-999;
}
.upimg-tips{
    display: inline-block;
    position: absolute;
    color: @cl-999;
    bottom: -20px;
    left: 0;
    line-height: 1em;
}
.upimg-activ-tips{
    .upimg-tips;
  
    bottom: -35px;
    line-height: 15px;
    text-align: left;
}
.upimg-warning{
    position: absolute;
    bottom: -55px;
    left: 0;
    line-height: 1em;
    color: @cl-warning;
    display:none ;
}
.upimg-activ-warning{
    .upimg-warning;
    
    bottom: -48px;
}
.item{
      position: relative;
      padding-bottom: 20px;
      label{
          .border-box;
          display: inline-block;
          width: @tit-label;
          font-size: @ft-14;
          padding-right: 15px;
          vertical-align: -4px;
      }
      input[type='text']{
          .border-box;
          width: @cont-width;
          height: 34px;
          line-height: 34px;
          background-color: white;
          vertical-align: middle;
          padding-left: 10px;
          
          &.chose-date{
               width: @date-width;   
          }
          &.chose-date:nth-of-type(1){
              margin-right: 5px;
          }
          &.chose-date:nth-of-type(2){
              margin-left: 5px;
          }
      }
      textarea{
          .border-box;
          .border-radius;
          display: inline-block;
          vertical-align: middle;
          width:81%;
          height: 100px;
          padding: 10px;
          border: 1px solid @cl-border;
          font-size: @ft-14;
          color: @cl-666;
          resize: none;
      }
      select{
          width: 145px;
          height: 30px;
          padding-left: 10px;
          display: inline-block;
          vertical-align: middle;
          
      }
      input[type=checkbox]+span {
            display: inline-block;
            vertical-align: -3px;
            margin-right: 10px;
            height: 16px;
            width: 16px;
            background: url('@{img-src}/base_z2968da.png') 0 -182px no-repeat;
        }

        input[type=checkbox]:checked+span {
            background: url('@{img-src}/base_z2968da.png') 0 -208px no-repeat;
        } 
       
       &.js-add-prize{
           width: @tit-width+18;
           height: 60px;
           line-height:60px ;
           padding-bottom: 0;
           margin-bottom: 30px;
           border: 1px dashed @cl-border;
           text-align: center;
           cursor: pointer;
           .border-radius;
          
           .addimg-ico{               
               width: 60px;
               line-height: 16px;
              
           }
       }
       
       &.chose-box{
           input{
               width: 65px;
               margin-left: 10px;
               margin-right: 5px;
           }
       }
       
        &.submit{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 70px;
        }
        
        &.prize-item{
            width:@tit-width+19;
            height: 70px;
            font-size: @ft-14;
            padding-bottom: 0;
            margin-bottom: 20px;
            line-height: 70px;
            border: 1px solid @cl-border;
            border-right: none;
            border-left: none;
            .border-radius;
            
            img{
              width: 74px; 
              height: 71px;
              display: inline-block; 
              vertical-align: middle;
              margin-top: -1px;
            }
            
            span{
                display: inline-block;
                margin-left: 20px;
            }
            span:nth-of-type(1){
                font-weight: bold;
            }
            span:nth-of-type(2){margin-left: 50px;}
            
            .prize-item-edit{
                float: right;
                padding-right: 20px;
                height: 70px;
                line-height: 70px;
                background: url('@{img-src}/dash-border.png') right center no-repeat;
                background-size:3px 73px
            }
            a{
                text-align: center;
                width: 38px;
                height: 22px;
                padding: 3px 5px;
                margin-left: 10px;
                border: 1px solid @cl-border;
                color: @cl-666;
                .border-radius;
                
                &:hover{
                    border: 1px solid @cl-common;
                    color: @cl-common;
                }
            }
        }
        
        .fault-tips{
            color: @cl-warning;
            position: absolute;
            bottom: 0px;
            left: 15%;
            display: none;
        }                                                 
    }
.item-active{
    padding-bottom: 35px;
}

.hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.active-preview{
    float: left;

    .active-content{
        width: 354px;
        height: 651px;
        position: relative;
        background: url('@{img-src}/iphone.png') no-repeat;
        
        .active-pre-title{
            height: 33px; 
            line-height: 33px; 
            padding-top: 83px; 
            text-align: center; 
            color: white;
        }
        .active-pre-img{
            .border-box;
            width: 240px;
            height: 394px;
            padding-top: 275px;
            color: red;
            margin: auto;
            text-align: center;
            background: url('@{img-src}/pre_index_bg.png') no-repeat;
            background-size:100% 100%;
            
            .active-pre-random{
                padding-top: 20px;
                text-align: center;
                font-size: 24px;   
                font-weight: bold;
            }
            
            .active-pre-bottom{
                height: 116px; 
                background:url('@{img-src}/pre_bg_bottom.png') no-repeat;
                background-size:100% 100%;
                position: relative;  
            }
            .active-pre-btn{
                margin-top: 0;
                span{
                    display: inline-block;
                    width:180px;
                    height: 36px;
                    line-height: 36px;
                    font-weight: bold;
                    font-size: 18px;
                    background-color: white;
                    border-radius: 36px;
                    box-shadow: 0px 5px 5px 0px #c32f1d;
                }
            }
            
            .active-pre-result{
                color: white;
                margin-top: 8px;
            }
            .active-pre-bar{
                margin-top: 8px;
                
                span{
                    .border-radius;
                    display: inline-block;
                    width: 94px;
                    height: 29px;
                    margin: 0 5px;
                    line-height: 29px;
                    font-weight: bold;
                    font-size: @ft-12;
                    text-align: center;
                    background-color:#ffd800 ;
                }
            }
        }
        
        .active-marquee-img{
            width: 240px;
            height: 394px;
            margin: auto;
            text-align: center;
            display: none;
            
            .active-marquee-pre{
                height: 156px;
                background: url('@{img-src}/marquee-pre.png');
                background-size:100%;
            }
            
            .active-marquee-count{
                height: 238px;
                background: url('@{img-src}/marquee-count.png');
            }
        }
    }
    .btn-bar{
        text-align: center;
        span{
            display: inline-block;
            border: 1px solid @cl-common;
            margin: 0;
            width: 100px;
            height: 45px;
            line-height: 45px;
            font-size: @ft-14;
            color: @cl-common;
            cursor: pointer;
        }
        span:first-of-type{
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            border-right: 0;
        }
        span:last-of-type{
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }
        span.hoverd{
            background-color: @cl-common;
            color: white;
        }
    }
}




/*弹出框样式*/
.data-dia {
    color: @cl-666;
    
    .data-content{
        width: 468px;
        //padding: 0;
    }
    .setting-cont{
        //padding: 30px;
    }
    .page-header{
        text-align: center;
        color: @cl-666; 
        padding-top: 0px; 
        padding-bottom: 10px;
        margin-bottom: 30px; 
        font-weight: normal;
    
        .close_log{
            //margin-right: 30px;
        }
    }
    
    .setting-item{
        padding-bottom: 20px;
        
        label{
            margin-right: 15px;
            font-size: @ft-14;
        }
        
        select,input{
            .border-box;
            width: 330px;
            height: 34px;
            padding-left: 10px;
            background-color: white;
        }
        select:nth-of-type(2){
            margin-right: 10px;
        }
        
        textarea{
            .border-box;
            .border-radius;
            color: @cl-666;
            padding: 10px;
            width: 426px;
            height: 150px;
            resize: none;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid @cl-border;
        }
    }
    .btn-bar{
        text-align: center;
        margin-top: 20px;
    }
   
}

